.container-fluid {
  min-width: 400px;
  max-width: 1920px;
}

.container-fluid h1, h2, p {
  font-family: OpenSans-ExtraBold;
  text-transform: uppercase;
}

.form-group {
  width: 300px;
}

.form-group input {
  margin-top: 6%;
  margin-bottom: 6%;
  text-align: center;
  text-transform: uppercase;
}

.form-group button {
  margin-left: 40%;
  margin-bottom: 10%;
}

#btn-submit {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background: #ffffff;
  color: #646464;
}

.border {
  border: 2px solid #efefef;
}

#block_1 h1 {
  line-height: 35px;
  color: #989898;
  font-size: 44px;
  text-transform: uppercase;
}

#block_1 p {
  display: inline-block;
  padding-top: 50%;
  width: 250px;
  line-height: 14px;
  font-size: 14px;
}

.img-background{
  position: absolute;
}

.img-bold {
  position: absolute;
  margin-left: 125px;
}

@media screen and (max-device-width: 991px), screen and (max-width: 991px) {
  .img-bold {
    display: none;
  }
}
