#block_5 {
  padding-top: 5%;
}

#block_5 h2 {
  color: #636363;
  letter-spacing: 1.2px;
  font-family: OpenSans-Bold;
  font-size: 24px;
  opacity: 0.7;
  text-transform: uppercase;
}

#block_5 p {
  margin: 0;
  color: #646464;
  letter-spacing: 0.7px;
  font-family: OpenSans-Bold;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

#block_5 b {
  color: #646464;
  letter-spacing: 0.7px;
  font-family: OpenSans-Bold;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
}
