#block_4 h1 {
  color: #636363;
  font-size: 32px;
  line-height: 24px;
}

#block_4 h1 {
  display: table;
  color: #636363;
  font-size: 32px;
  line-height: 24px;
  font-family: OpenSans-ExtraBold;
  text-transform: uppercase;
}

#block_4 h2 {
  color: #bfbdbd;
  letter-spacing: 1.1px;
  font-size: 22px;
}

#block_4 span {
  color: black;
}

#block_4 li {
  margin-top: 1%;
  color: #646464;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.7px;
  list-style-type: square;
  color: red;
}

#block_4 ul {
  padding: 5%;
}

.numbers {
  position: absolute;
  margin-left: -120px;
  margin-top: -7px;
  color: #636363;
  font-family: OpenSans-Bold;
  font-size: 18px;
  opacity: 0.2;
  -webkit-transform: rotate(90deg);
  transform: rotate(270deg);
}

.mobile-screen {
  position: absolute;
  top: 44px;
  left: 27px;
}
