
#block_3 h1 {
  color: #636363;
  font-size: 32px;
  line-height: 24px;
}

#block_3 h2 {
  color: #bfbdbd;
  font-size: 22px;
}

#block_3 b {
  display: inline-block;
  color: #636363;
  font-size: 26px;
  letter-spacing: 1.3px;
}

#block_3 h3 {
  display: inline;
  color: #bfbdbd;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.result, .right-result-one, .right-result-two {
  margin-top: 30px;
}



.block-result {
  padding-top: 10%;
  padding-left: 5%;
}

.block-result-right {
  padding-top: 10%;
}

p.note {
  display: table-row;
  color: #dc8d8d;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
