#block_2 h1 {
  color: #1d1d1d;
  font-weight: 400;
  font-family: OpenSans-ExtraBold;
  font-size: 44px;
  text-transform: uppercase;
}

#block_2 h2 {
  line-height: 5px;
  color: #989898;
  font-family: OpenSans-ExtraBold;
  font-size: 22px;
  text-transform: uppercase;
}

#block_2 p {
  display: inline-grid;
  color: #636363;
  font-size: 14px;
}

#block_2 img.icon {
  width: 70px;
  margin-top: 3%;
}

#block_2 p.text {
  float: left;
  line-height: 16px;
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 400;
}
